:root {
  --global-dark-100: #F3F3F3;
  --global-dark-200: #E7E7E7;
  --global-dark-300: #B9B9B9;
  --global-dark-400: #737373;
  --global-dark-500: #171717;
  --global-dark-600: #131011;
  --global-dark-700: #100B0C;
  --global-dark-800: #0D0708;
  --global-dark-900: #0B0406;

  --global-primary-100: #CBEDFB;
  --global-primary-200: #9AD7F7;
  --global-primary-300: #65B3E7;
  --global-primary-400: #3D8ECF;
  --global-primary-500: #0b5eaf;
  --global-primary-600: #084896;
  --global-primary-700: #05367D;
  --global-primary-800: #032665;
  --global-primary-900: #021A53;

  --global-success-100: #D5FCD6;
  --global-success-200: #ACF9B6;
  --global-success-300: #80EF99;
  --global-success-400: #5EE088;
  --global-success-500: #2ECC71;
  --global-success-600: #21AF6B;
  --global-success-700: #179264;
  --global-success-800: #0E7659;
  --global-success-900: #086152;

  --global-warning-100: #FEFADB;
  --global-warning-200: #FDF4B7;
  --global-warning-300: #FBEB92;
  --global-warning-400: #F7E176;
  --global-warning-500: #F3D34A;
  --global-warning-600: #D0B036;
  --global-warning-700: #AE8F25;
  --global-warning-800: #8C6F17;
  --global-warning-900: #74590E;

  --global-danger-100: #FEE9D7;
  --global-danger-200: #FECEAF;
  --global-danger-300: #FDAC87;
  --global-danger-400: #FB8B69;
  --global-danger-500: #F95738;
  --global-danger-600: #D63728;
  --global-danger-700: #B31D1C;
  --global-danger-800: #90111A;
  --global-danger-900: #770A1A;
}
